# Ignore subversion meta directories
.svn/
tags
*.swp
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver

.deps
Makefile
config.log
config.status
libtool
